@use "~styles/colors" as *;
@use "~styles/mixins" as *;

.input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid $white;
  color: $white;
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: $white;
  }

  &:focus,
  &:hover {
    outline: none;
    border-color: $white;
    box-shadow: 0 0 6px $white-40;
  }
  @include textM;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
