@use "sass:math";

@mixin fluid($property, $min, $max, $screen-min: 350, $screen-max: 1440) {
  #{$property}: #{$min}px;

  @media only screen and (min-width: #{$screen-min}px) {
    #{$property}: calc(
      #{$min}px + #{($max - $min)} * (100vw - #{$screen-min}px) /
        (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}px) {
    #{$property}: #{$max}px;
  }
}

@mixin heading($weight: 600) {
  font-weight: $weight;
  line-height: 1.2;
  @include fluid(font-size, 20, 32);
}

@mixin textS($weight: 400) {
  font-weight: $weight;
  line-height: 1.5;
  @include fluid(font-size, 12, 14);
}

@mixin textM($weight: 400) {
  font-weight: $weight;
  line-height: 1.5;
  @include fluid(font-size, 16, 18);
}
