@use "~styles/colors" as *;

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  text-decoration: none;

  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;

  font-family: "Martian Mono", monospace;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $white;
  background: $mars;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}
