@use "~styles/mixins.scss" as *;

@mixin heading($weight: 600) {
  @include fluid(font-size, 20, 32);
  font-weight: $weight;
  line-height: 1.2;
}

@mixin textS($weight: 400) {
  @include fluid(font-size, 10, 14);
  font-weight: $weight;
  line-height: 1.5;
}

@mixin textM($weight: 400) {
  @include fluid(font-size, 12, 16);
  font-weight: $weight;
  line-height: 1.5;
}
